gerrit_generisana_sifra.txt
uputstvo_za_korišćenje_prototipa.txt
SSU_primer.docx
*.tmp
.*.docx
~*.docx

settings.py
__pycache__/
*.pyc
RealArt/pycache/

*.iml
.venv/
**/migrations/*.py
!**/migrations/__init__.py
*.pyc
.idea/
djangoProjekat/RealArt/.idea/
djangoProjekat/RealArt/settings.py
