{% extends "template.html" %}
{% load static %}
{% block title %}Izložbe{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center text-danger mb-4">Pregled izložbi</h1>

        <div class="text-center mb-4">
            <button class="btn btn-primary" type="button" onclick="toggleFormu()">+ Napravi novu izložbu</button>
        </div>

        <!-- Forma za pravljenje nove izložbe -->
        <div id="forma-izlozba" class="card shadow-sm p-4 mb-5" style="display: none;">
            <h3 class="text-center mb-3">Nova izložba</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Potvrdi izložbu</button>
            </form>
        </div>

        <!-- Galerija postojećih izložbi -->
            <div class="row g-4">
                {% for item in izlozbe_sa_slikom %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card shadow-sm h-100">
                            <img src="{{ item.slika }}" class="card-img-top" alt="{{ item.izlozba.name }}">
                            <div class="card-body">
                                <h5 class="card-title text-danger">{{ item.izlozba.name }}</h5>
                                <p class="card-text">Tema: {{ item.izlozba.theme }}</p>
                                <p class="text-muted">
                                    {% if item.izlozba.status == "active" %}
                                        Aktivna{% if item.izlozba.end_date != None %} do {{ item.izlozba.end_date }}{% endif %}
                                    {% else %}
                                        Zatvorena{% if item.izlozba.end_date != None %} - {{ item.izlozba.end_date }}{% endif %}
                                    {% endif %}
                                </p>
                                <p class="small">{{ item.broj_radova }} radova
                                    · {{ item.broj_umetnika}} umetnika</p>
                                <a href="#" class="btn btn-outline-danger w-100">Pogledaj izložbu</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    <script>
        function toggleFormu() {
            const forma = document.getElementById("forma-izlozba");
            if (forma.style.display === "none" || forma.style.display === "") {
                forma.style.display = "block";
                forma.scrollIntoView({behavior: "smooth"});
            } else {
                forma.style.display = "none";
            }
        }
    </script>
{% endblock %}
