{% extends "template.html" %}

{% load static %}
{% block title %}Moj profil{% endblock %}

{% block content %}

    <div class="container-fluid mt-4">
        <div class="row text-center">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Pretraži...">
                <button class="search-button">⌕</button>
            </div>
        </div>
    </div>


    <div class="container fluid mt-4 ">
        <div class="row">
            {% for user in users %}
            <div class="col-sm-3">
                <div class="card m-3">
                    <img src="{% static 'img/zensko1.jpg' %}" alt="slika korisnika" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
                        <p>username: {{ user.username }}</p>
                        <p class="card-text">
                            {% if user.role == 'registered' %} Umetnik
                            {% else %} Žiri {% endif %}
                        </p>
                        {% if user.username == request.user.username %}
                            <a href="{% url 'my_page' %}" class="btn btn-secondary">Pogledaj svoj profil</a>
                        {% else %}
                            <a href="{% url 'my_page' %}" class="btn btn-secondary">Pogledaj profil</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <br><br>
{% endblock %}



