{% extends "template.html" %}

{% load static %}
{% block title %}Moj profil{% endblock %}

{% block content %}

    <div class="container-fluid mt-4">
        <div class="row text-center">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Pretraži...">
                <button class="search-button">⌕</button>
            </div>
        </div>
    </div>


    <div class="container fluid mt-4 ">
        <div class="row">
            <div class="col-sm-3">
                <div class="card m-3">
                    <img src="{% static 'img/zensko1.jpg' %}" alt="slika korisnika" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h4 class="card-title">Marina Kovacevic</h4>
                        <p>username: marina</p>
                        <p class="card-text">Umetnik</p>
                        <a href="{% url 'my_page' %}" class="btn btn-secondary">Pogledaj profil</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card m-3">
                    <img src="{% static 'img/musko2.jpg' %}" alt="slika korisnika" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h4 class="card-title">Nikola Jovic</h4>
                        <p>username: nikola</p>
                        <p class="card-text">Umetnik</p>
                        <a href="{% url 'my_page' %}" class="btn btn-secondary">Pogledaj profil</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card m-3">
                    <img src="{% static 'img/musko1.jpg' %}" alt="slika korisnika" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h4 class="card-title">Aleksandar Marovic</h4>
                        <p>username: aleksandar97</p>
                        <p class="card-text text-danger">Ziri</p>
                        <a href="ziri.html" class="btn btn-secondary">Pogledaj profil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
{% endblock %}

</body>

</html>

