{% extends "template.html" %}

{% load static %}
{% block title %}Moj profil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 user-img-container">
                <h1>{{ me.first_name }} {{ me.last_name }} </h1>
                <p>username: {{ me.username }}</p>
                {% if me.pfp_url is not None %}
                    <img src="{{ me.pfp_url }}" alt="Slika korisnika" class="img-fluid user-img">
                    <a class="btn btn-light change-btn" href="{% url 'add_pfp_page' %}">Promenite profilnu sliku</a>
                {% else %}
                    <img src="{% static 'img/default_pfp.png' %}" alt="Dodajte korisnicku sliku" class=" img-fluid user-img">
                    <a class="btn btn-light change-btn" href="{% url 'add_pfp_page' %}">Dodaj profilnu sliku</a>
                {% endif %}
                <a class="btn btn-danger change-btn mt-2" href="{% url 'delete_profile' %}">Obrisi moj profil</a>

            </div>
            <div class="col-sm-6 user-description">
                <h4>Status:
                    {% if me.is_regular_user %} Umetnik {% else %} Žiri {% endif %}
                </h4>

                {% if me.role == "registered" %}
                <div>Zelis da konkurises za zirija? 
                    <a href="{% url "become_judge" %}" class="text-danger"> Prijava</a>
                </div>
                {% endif %}

                <br>
                <h4> Opis: </h4>
                {% if me.bio is not None %}
                    <p class="user-bio">{{ me.bio }}</p>
                {%  endif %}
                
                <br>
                <text class="text-danger"> zakucano: </text>
                <h4>Prosečna ocena: 4.21/5</h4>
                <h5>Zarađeno dosad: 6.08$</h5>
                <br> <br>
                <button class="btn btn-light back-button" onclick="history.back()"> ⟸ Nazad </button>
                <a href="#radovi" class="btn btn-light back-button">⇓ Radovi </a>
                
            </div>
            <div class="col-sm-1">
                <a href="#"><img src="{% static 'img/edit_profile_icon.png' %}" class="img-fluid logo mt-4"></a>
                <a href="#"><img src="{% static 'img/settings_icon.png' %}" class="img-fluid logo mt-4"></a>
            </div>

        </div>
    </div>

    <div class="container gallery-container pb-5">
        <div class="row">
            <h4 id="radovi">Pregled radova: </h4>
            {% for painting in paintings %}
                <div class="col-sm-3">
                    <a href="{% url 'image_detail' painting.id %}">
                        <img src="{{ painting.image_url }}" class="img-fluid painting" alt={{ painting.title }} name={{ painting.title }}>
                        <label for={{ painting.title }}>{{ painting.title }}</label>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}



