{% extends "template.html" %}

{% load static %}
{% block title %}Moj profil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 user-img-container">
                <img src="{% static 'img/musko2.jpg' %}" alt="Slika korisnika" class="img-fluid user-img">
            </div>
            <div class="col-sm-6 user-description">
                <h1>{{ me.first_name }} {{ me.last_name }} </h1>
                <p class="pb-4">username: {{ me.username }}</p>
                <h4>Status:
                    {% if me.role == 'registered' %} Umetnik {% else %} Žiri {% endif %}
                </h4>

                {% if me.role == "registered" %}
                <div>Zelis da konkurises za zirija? 
                    <a href="{% url "become_judge" %}" class="text-danger"> Prijava</a>
                </div>
                {% endif %}

                <br>
                <h4> Opis: </h4>
                <p class="user-bio">{{ me.bio }}</p>
                
                <br>
                <text class="text-danger"> zakucano: </text>
                <h4>Prosečna ocena: 4.21/5</h4>
                <h5>Zarađeno dosad: 6.08$</h5>
                <br> <br>
                <a href="{% url 'users' %}" class="btn btn-light back-button">⟸ Nazad</a>
                
            </div>
        </div>
    </div>

    <div class="container gallery-container">
        <div class="row">
            <h4>Pregled radova:</h4>
            <div class="col-sm-3">
                <a href="Slika.html">
                    <img src="{% static 'img/priroda1.jpg' %}" class="img-fluid painting" alt="slika1" name="slika1">
                    <label for="slika1">Šapat obale</label>
                </a>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
        </div>
    </div>

    <br><br>

{% endblock %}



