{% extends "template.html" %}

{% load static %}
{% block title %}Moj profil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 user-img-container">
                {% if me.pfp_url is not None %}
                    <img src="{{ me.pfp_url }}" alt="Slika korisnika" class="img-fluid user-img">
                {% else %}
                    <img src="{% static 'img/default_pfp.png' %}" alt="Dodajte korisnicku sliku" class=" img-fluid user-img">
                {% endif %}

            </div>
            <div class="col-sm-7 user-description">
                <div class="col-sm-1 edit">
                    <a href="{% url 'edit_profile' %}"><img src="{% static 'img/edit_profile_icon.png' %}" class="img-fluid logo mt-4"></a>
                </div>
                <h1>{{ me.first_name }} {{ me.last_name }}</h1>
                <p>username: {{ me.username }}</p>

                <h4>Status:
                    {% if me.is_regular_user %} Umetnik {% else %} Žiri {% endif %}
                </h4>

                {% if me.is_regular_user %}
                    <div>Zelis da konkurises za zirija?
                        <a href="{% url "become_judge" %}" class="text-danger"> Prijava</a>
                    </div>
                {% endif %}
                {% if me.is_jury %}
                    <div class="inline">
                        <h4 class="mt-1">Kvalifikacija:</h4>
                        <a href="{{ me.get_qualification_url }}" target="_blank" class="text-dark">Otvori svoj kvalifikacija.txt</a>
                    </div>
                {% endif %}

                <h4> Opis: </h4>
                {% if me.bio is not None %}
                    <p class="user-bio">{{ me.bio }}</p>
                {%  endif %}
                
                <br>
                <span class="h4">Prosečna ocena: {{me.get_rating}}/5</span>
                {% if me.get_rating == 0 %}
                    <span class="text-danger">Nema još uvek nijedne ocene.</span>
                {% endif %}
                <h5 class="h4 mt-2">Zarađeno dosad: {{me.get_funding}}$</h5>
                <br> <br>
                <button class="btn btn-light back-button" onclick="history.back()"> ⟸ Nazad </button>
                <a href="#radovi" class="btn btn-light back-button">⇓ Radovi </a>
                
            </div>

        </div>
    </div>

    <div class="container gallery-container pb-5">
        <div class="row">
            <h4 id="radovi">Pregled radova: </h4>
            {% for painting in paintings %}
                <div class="col-sm-3">
                    <a href="{% url 'image_detail' painting.id %}" class="text-dark">
                        <img src="{{ painting.image_url }}" class="img-fluid painting" alt={{ painting.title }} name={{ painting.title }}>
                        <label for={{ painting.title }}>{{ painting.title }}</label>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}



