{% extends "template.html" %}
{% load static %}

{% block optionalInclude %}
    <link rel="stylesheet" href="{% static 'css/style_izlozbi.css' %}">
    <script src="{% static 'js/prikaz_izlozbe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container fluid mt-4">
        <h2 class="exhibition-heading text-center">Izložba {{ izlozba.name }}</h2>
        <div class="search-container d-flex gap-2 align-items-center">
            <input type="text" class="search-input" id="searchInput" placeholder="Pretražite sliku">
            <div class="btn-group">
                <button class="search-button">⌕</button>
                <button type="button" class="search-button filter-button dropdown-toggle" data-bs-toggle="dropdown">≡
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Sortiraj po umetniku</a></li>
                    <li><a class="dropdown-item" href="#">Sortira po oceni</a></li>
                    <li><a class="dropdown-item" href="#">Najnovije</a></li>
                </ul>
            </div>
        </div>

        <div class="row mt-4 mb-4" id="paintingsContainer">
            {% for painting in paintings %}
                <div class="col-sm-4 d-flex align-items-stretch mt-4 mb-4 painting-card"
                     data-title="{{ painting.title|lower }}"
                     data-artist="{{ painting.artist.username|lower }}"
                     data-timestamp="{{ painting.upload_date|date:'U' }}"
                     data-rating="{{ painting.avg_rating|default:0 }}">
                    <div class="card m-4 h-100 d-flex flex-column">
                        <img src="{{ painting.image_url }}" alt="{{ painting.title }}" class="card-img-top img-fluid">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">{{ painting.title }}</h4>
                            <p class="card-text">Umetnik:&nbsp;{{ painting.artist }}</p>
                            <div class="row mt-auto">
                                <div class="col-sm-6 d-flex flex-column justify-content-between"><a href="{% url 'users' painting.artist.id %}"
                                                                                                    class="btn btn-secondary">Pogledaj
                                    profil</a></div>
                                <div class="col-sm-6 d-flex flex-column justify-content-between"><a href="#"
                                                                                                    class="btn btn-secondary">Pogledaj
                                    sliku</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container fluid mt-4">
        <div class="row text-center m-4">
            <div class="col sm-12">
                <button type="button" class="btn btn-secondary center mt-4" data-bs-toggle="modal"
                        data-bs-target="#galleryModal">
                    Pogledaj slajdšou
                </button>
            </div>
        </div>
        <div class="modal fade" id="galleryModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                {% for painting in paintings %}
                                    <button type="button" data-bs-target="#demo"
                                            data-bs-slide-to="{{ forloop.counter0 }}"
                                            {% if forloop.first %}class="active"{% endif %}></button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for painting in paintings %}
                                    <div class="carousel-item ratio ratio-16x9 {% if forloop.first %}active{% endif %}">
                                        <img src="{{ painting.image_url }}" alt="{{ painting.title }}"
                                             class="d-block w-100">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#demo"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#demo"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4">
        {% if request.user.is_authenticated and izlozba.status == "active" %}
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="fst-italic text-muted text-center mt-4">Zelite da dodate Vašu sliku?</h3>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data"
                  class="upload-form p-4 shadow-sm bg-light rounded">
                {% csrf_token %}

                <div class="mb-3">
                    <input type="text" name="title" placeholder="Unesite naziv slike" required
                           class="form-control upload-input"/>
                </div>

                <div class="mb-3">
                    <input type="file" name="image" accept="image/*" required
                           class="form-control upload-input"/>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-secondary upload-btn">Dodaj sliku</button>
                </div>
            </form>
        {% endif %}
        <div class="mt-4 mb-4 d-flex justify-content-center">
            <a href="{% url 'exhibitions' %}" class="btn btn-light back-button">⟸ Nazad</a>
        </div>
    </div>
{% endblock %}