<!--Ranko Stanojevic-->
{% extends "template.html" %}
{% load static %}

{% block optionalInclude %}
    <link rel="stylesheet" href="{% static 'css/style_izlozbi.css' %}">
    <script src="{% static 'js/prikaz_izlozbe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">

        <h2 class="exhibition-heading text-center mb-4">Izložba {{ izlozba.name }}</h2>

        <!-- Dugmad i forma na vrhu -->
        <div class="d-flex justify-content-center gap-3 mb-4">
            <button class="btn btn-light back-button" onclick="history.back()">⟸ Nazad</button>
            {% if request.user.is_authenticated and izlozba.status == "active" %}
                <a href="{% url 'addPicture' izlozba.id %}" class="btn btn-primary">Dodaj sliku</a>{% endif %}
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#galleryModal">
                Pogledaj slajdšou
            </button>
        </div>

        <!--Prikaz pobednika izlozbe-->
        {% if izlozba.winner_painting is not None and izlozba.is_finished %}
            <h3 class="text-center mb-4">Pobednička slika</h3>
            <div class="row mt-4 mb-4 justify-content-center">

                <div class="col-md-4 mb-4 justify-content-center">

                    <a href="{% url 'image_detail' izlozba.winner_painting.id %}" class="clickable-card no-link-style">
                        <div class="card h-100 d-flex flex-column position-relative border-success border-3">
                            <img src="{{ izlozba.winner_painting.image_url }}" alt="{{ izlozba.winner_painting.title }}"
                                 class="card-img-top img-fluid">
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title">{{ izlozba.winner_painting.title }}</h4>
                                <div class="d-flex align-items-center mt-3">
                                    <img src="{{ izlozba.winner_painting.artist.pfp_url_getter }}"
                                         alt="{{ izlozba.winner_painting.artist.username }}"
                                         class="rounded-circle me-2 no-hover-link no-hover"
                                         style="width:40px; height:40px; object-fit:cover;">

                                    <p class="fw-bold text-dark text-decoration-none no-hover no-hover-link">
                                        {{ izlozba.winner_painting.artist.username }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}

        <!-- Search bar -->
        <div class="search-container d-flex gap-2 align-items-center mb-4">
            <select id="searchFilter" class="form-control search-list search-input text-center">
                <option value="title">Naziv</option>
                <option value="artist">Umetnik</option>
            </select>
            <input type="text" class="search-input" id="searchInput" placeholder="Pretražite sliku">
            <div class="btn-group">
                <button type="button" class="search-button filter-button dropdown-toggle no-hover"
                        data-bs-toggle="dropdown">≡
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Sortiraj po umetniku</a></li>
                    <li><a class="dropdown-item" href="#">Sortiraj po oceni</a></li>
                    <li><a class="dropdown-item" href="#">Najnovije</a></li>
                </ul>
            </div>
        </div>

        <!-- Kartice slika -->
        <div class="row mt-4 mb-4" id="paintingsContainer">
            {% for painting in paintings %}
                <div class="col-md-4 mb-4 painting-card"
                     data-title="{{ painting.title|lower }}"
                     data-artist="{{ painting.artist.username|lower }}"
                     data-timestamp="{{ painting.upload_date|date:'U' }}"
                     data-rating="{{ painting.get_average_rating|default:0 }}">

                    <a href="{% url 'image_detail' painting.id %}" class="clickable-card no-link-style">
                        <div class="card h-100 d-flex flex-column position-relative">
                            <img src="{{ painting.image_url }}" alt="{{ painting.title }}"
                                 class="card-img-top img-fluid">
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title">{{ painting.title }}</h4>
                                <div class="d-flex align-items-center mt-3">
                                    <img src="{{ painting.artist.pfp_url_getter }}" alt="{{ painting.artist.username }}"
                                         class="rounded-circle me-2 no-hover-link no-hover"
                                         style="width:40px; height:40px; object-fit:cover;">

                                    <p class="fw-bold text-dark text-decoration-none no-hover no-hover-link">
                                        {{ painting.artist.username }}
                                    </p>
                                </div>
                                {% if request.user.is_authenticated and request.user.get_role == "jury" and izlozba.winner_painting is None and izlozba.is_finished %}
                                    <div class="mt-auto text-center">
                                        <form method="post" action="{% url 'chooseWinner' izlozba.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="painting_id" value="{{ painting.id }}">
                                            <button type="submit" class="btn btn-outline-success mt-3">Izaberi za
                                                pobednika
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal za slideshow -->
    <div class="modal fade" id="galleryModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for painting in paintings %}
                                <button type="button" data-bs-target="#demo"
                                        data-bs-slide-to="{{ forloop.counter0 }}"
                                        {% if forloop.first %}class="active"{% endif %}></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for painting in paintings %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %} d-flex justify-content-center align-items-center">
                                    <img src="{{ painting.image_url }}" alt="{{ painting.title }}" class="img-fluid"
                                         style="max-height: 90vh; width: auto;">
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#demo"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}