{% extends "template.html" %}

{% load static %}
{% block title %}Registracija{% endblock %}

{% block content %}

    <div class="container mt-5" style="max-width: 60%;">
    <h2>Registracija</h2>
    <h5 class="text-danger">{{ message }}</h5>
    <form id="registracijaForm" method="POST" action="{% url 'signup_page' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="ime" class="form-label">Ime</label>
            <input type="text" class="form-control" id="ime" name="ime" required>
        </div>

        <div class="mb-3">
            <label for="prezime" class="form-label">Prezime</label>
            <input type="text" class="form-control" id="prezime" name="prezime" required>
        </div>

        <div class="mb-3">
            <label for="korisnickoIme" class="form-label">Korisničko ime</label>
            <input type="text" class="form-control" id="korisnickoIme" name="korisnickoIme" required>
        </div>

        <div class="mb-3">
            <label for="lozinka" class="form-label">Lozinka</label>
            <input type="password" class="form-control" id="lozinka" name="lozinka" minlength="8" required>
        </div>

        <div class="mb-3">
            <label for="potvrdaLozinke" class="form-label">Potvrda lozinke</label>
            <input type="password" class="form-control" id="potvrdaLozinke" name="potvrdaLozinke" minlength="8" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email adresa</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
<!--
        <div class="mb-3">
            <label for="drzava" class="form-label">Država</label>
            <input type="text" class="form-control" id="drzava" name="drzava" required>
        </div>
-->

        <div class="mb-3">
            <label for="opis" class="form-label">Opis</label>
            <textarea class="form-control" id="opis" name="opis" rows="5" placeholder="Unesite vaš opis ovde..."></textarea>
        </div>

        <button type="submit" class="btn btn-secondary">Prijavi se</button>
        <div class="mt-3 pb-3">
            <a href="{% url 'login_page' %}" class="text-danger text-decoration-underline">Već imate nalog?</a>
        </div>

    </form>
    </div>
    

{% endblock %}

<script>
    document.getElementById("registracijaForm").addEventListener("submit", function(event) {
        let lozinka = document.getElementById("lozinka").value;
        let potvrda = document.getElementById("potvrdaLozinke").value;

        if (lozinka.length < 8) {
            alert("Lozinka mora imati najmanje 8 karaktera!");
            event.preventDefault();
            return;
        }

        if (lozinka !== potvrda) {
            alert("Lozinke se ne poklapaju!");
            event.preventDefault();
        }
    });
</script>