<!-- Mina Sljivic  -->
{% extends 'template.html' %}

{% load static %}
{% block title %} Umetnik {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 user-img-container">
                <img src={% static "img/zensko1.jpg" %} alt="Slika korisnika" class="img-fluid user-img">
            </div>
            <div class="col-sm-6 user-description">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="pb-4">username: {{ user.username }}</p>
                <h4> Status:
                    {% if user.role == 'registered' %} Umetnik
                    {% else %} Žiri {% endif %}
                </h4>

                <br>
                <h4> Opis: </h4>
                <p class="user-bio">{{ user.bio }}</p>

                <br>
                <text class="text-danger"> zakucano: </text>
                <h4>Prosečna ocena: 4.37/5</h4>

                {% if user.role == 'jury' %}
                    <h4>Kvalifikacija:</h4>
                    <text class="text-danger"> zakucano: </text>
                    <p><ul>
                        <li>Diplomirao i masterirao na Fakultetu likovnih umetnosti u Beogradu (odsek slikarstvo)</li>
                        <li>Učestvovao na preko 40 grupnih i 5 samostalnih izložbi u zemlji i inostranstvu</li>
                        <li>Član umetničkih žirija na nacionalnim i međunarodnim likovnim konkursima</li>
                        <li>Višegodišnje iskustvo u selekciji i ocenjivanju radova savremene umetnosti</li>
                    </ul><p>
                {% endif %}
    
                <a href="#" class="text-warning h6 text-shadow">Želiš da podržiš ovog umetnika fundiranjem?🪙</a>
                <br> <br>
                <a href="{% url 'users' %}" class="btn btn-light back-button">⟸ Nazad</a>
                
            </div>
        </div>
    </div>

    <div class="container gallery-container">
        <div class="row">
            <h4>Pregled radova:</h4>
            <div class="col-sm-3">
                <a href="">
                    <img src="{% static 'img/slika1.jpg' %}" class="img-fluid painting" alt="slika1" name="slika1">
                    <label for="slika1">Puls prirode</label>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img src="{% static 'img/slika2.jpg' %}" class="img-fluid painting" alt="slika2" name="slika2">
                    <label for="slika2">Plamen šume - realizam</label>
                </a>
            </div>

        </div>
    </div>
    

    <br><br>
{% endblock %}

