{% extends "template.html" %}

{% load static %}
{% block title %}Zaboravljena lozinka{% endblock %}

{% block content %}


    <div class="container mt-5" style="max-width: 400px;">
        <h2>Promena lozinke</h2>
        <h6>Unesite e-mail nalog preko kog želite da promenite lozinku. Na njega će Vam stići dalje instrukcije.</h6>
        <br>
        <form method="POST" action="{% url 'send_reset_email' %}">
            {% csrf_token %}
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <a href="{% url 'login_page' %}" class="btn btn-secondary mt-2">Nazad</a>
            <button type="submit" class="btn btn-secondary mt-2">Pošalji</button>
        </form>
    </div>

{% endblock %}