{% extends "template.html" %}

{% load static %}
{% block title %}Zaboravljena lozinka{% endblock %}

{% block content %}


    <div class="container mt-5" style="max-width: 400px;">
        <h2>Promena lozinke</h2>
        <form>
            <h6>Unesite e-mail nalog preko kog želite da promenite lozinku. Na njega će Vam stići dalje instrukcije.</h6>
            <br>
            <div class="mb-3">
                <label for="korisnickoIme" class="form-label">E-mail:</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <a href="{% url 'login_page' %}" class="btn btn-secondary">Nazad</a>
            <button type="submit" class="btn btn-secondary">Pošalji</button>
        </form>
    </div>

{% endblock %}