/* ceo tim ima delove ovde */
/*
Stavljajte ovde stilove koji se odnose na ceo dokument, ja sam stavila nesto za back dugme da bi bilo konzistentno kroz ceo sajt
Ovo je back dugme ako treba negde stavite isto ovo: <a href="prikaz_izlozbe.html" class="btn btn-light back-button">⟸ Nazad</a>
*/

body {
    margin-top: 40px;
    font-family: sans-serif;
    position: relative;
    min-height: 100vh;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* sprečava da se skroluje ceo body */
}

header,
nav,
.alert {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* gornji tamni navbar */
nav.bg-dark {
  top: 0;
  height: 40px;
}

/* donji (glavni) navbar unutar headera */
header nav.container {
  top: 40px;
  background-color: rgb(255, 255, 255, 0.1);
  border-bottom: 1px solid #ccc;
  z-index: 999;
}

/* alert odmah ispod headera */
.alert {
  top: 120px; /* prilagodi visini headera */
  z-index: 998;
}

/* content - jedini deo koji se skroluje */
.content {
  margin-top: 105px; /* visina svega iznad, da se ne preklapa */
  height: calc(100vh - 105px); /* zauzima ostatak ekrana */
  overflow-y: auto; /* samo ovaj deo ima skrol */
  padding: 20px;
}


.logo {
    width: 40px;
    height: 40px;
}

.icon {
    width: 50px;
    height: 50px;
}

.inline {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* Pozadina sa belim providnim slojem */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background:
        linear-gradient(rgba(253, 253, 253, 0.45), rgba(255, 255, 255, 0.45)),
        url("../img/galerija_pozadina.webp") no-repeat center center;
    background-size: cover;

    filter: brightness(100%) blur(5px);
    z-index: -1;
}

.back-button:hover {
    border: 1px solid black;
}

.hidden{
  display: none !important;
}

.search-container {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 25px;
}

.search-button {
  border: none;
  background-color: rgb(0, 0, 0, 0);
  font-size: large;
  border-radius: 30px;
}

.filter-button {
  border-radius: 50px;
}

a {
  display: inline-block;
}

a:hover {
  color: rgb(70, 0, 0);
  transform: scale(1.02);
}



/* -------------- Upload forma : Stranica Prikaz Izlozbe (Ranko)-------------- */

.upload-form {
  max-width: 600px;
  margin: 0 auto;
  gap: 1rem;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(141, 171, 219, 0.1);
}

.upload-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
}

.upload-btn {
  max-width: 150px;
  width: 100%;
  border-radius: 50px;
}

